flows.json
[
    {
        "id": "cron-30min",
        "type": "cronplus",
        "name": "Co 30 minut",
        "schedule": "*/30 * * * *",
        "x": 140,
        "y": 180,
        "wires": [["http-binance"]]
    },
    {
        "id": "http-binance",
        "type": "http request",
        "method": "GET",
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=4h&limit=250",
        "name": "Pobierz dane BTC 4h",
        "x": 340,
        "y": 180,
        "wires": [["js-calculate"]]
    },
    {
        "id": "js-calculate",
        "type": "function",
        "name": "EMA8/21 + RSI + SMA200",
        "func": "const klines = msg.payload;\nconst closes = klines.map(k => parseFloat(k[4]));\n\n// EMA function\nconst ema = (data, period) => {\n  const k = 2 / (period + 1);\n  let result = data[0];\n  for (let i = 1; i < data.length; i++) {\n    result = data[i] * k + result * (1 - k);\n  }\n  return result;\n};\n\n// RSI function\nconst rsi = (data, period = 14) => {\n  let gains = 0, losses = 0;\n  for (let i = data.length - period; i < data.length; i++) {\n    const diff = data[i] - data[i-1];\n    if (diff > 0) gains += diff;\n    else losses -= diff;\n  }\n  const avgGain = gains / period;\n  const avgLoss = Math.abs(losses) / period;\n  const rs = avgLoss === 0 ? 100 : avgGain / avgLoss;\n  return 100 - (100 / (1 + rs));\n};\n\n// Obliczenia\nconst close = closes[closes.length - 1];\nconst ema8 = ema(closes, 8);\nconst ema21 = ema(closes, 21);\nconst sma200 = closes.slice(-200).reduce((a,b) => a + b, 0) / 200;\nconst rsi14 = rsi(closes, 14);\n\n// Sygnały\nconst longSignal = ema8 > ema21 && rsi14 < 35 && close > sma200;\nconst shortSignal = ema8 < ema21 && rsi14 > 65 && close < sma200;\n\nif (longSignal || shortSignal) {\n  msg.payload = {\n    close: close.toFixed(2),\n    direction: longSignal ? \"LONG ×20–×50\" : \"SHORT ×20–×50\"\n  };\n  return msg;\n} else {\n  return null;\n}",
        "x": 540,
        "y": 180,
        "wires": [["telegram-send"]]
    },
    {
        "id": "telegram-send",
        "type": "telegram sender",
        "name": "Wyślij do VIP",
        "bot": "phantom-bot",
        "chatId": "@FuturesPhantomVIP",
        "messageType": "message",
        "x": 740,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "phantom-bot",
        "type": "telegram bot",
        "botname": "PhantomBot",
        "token": "8580358769:AAH4kdmCvowbKsnqoAaXD2LSKAfReFyCLMI"
    }
]
